

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hoş Geldiniz</title>
    <style>
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', sans-serif;
    background-image: url('anasayfapırdino.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.welcome {
    font-size: 50px;
    margin-bottom: 30px;
    color: #ffffff;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    

}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.login {
    background-color: #1397efa1;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.register {
    display: inline-block;
    margin-top: 10px;
    background-color: #21e9749e;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.button:hover {
    opacity: 0.8;
}

    </style>
    
</head>
<body>
    <div class="container">
        <h1 class="welcome">Hoş Geldiniz</h1>
        <a href="/giris" class="button login">Giriş Yap</a>
        <a href="/kayitol" class="button register">Kayıt Ol</a>
    </div>
</body>
</html>

